* {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #7768AE, #AB87FF);
}

.container h1 {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-left: 100px;
    padding-bottom: 30px;
}

.container h1 img {
    width: 50px;
    margin-right: 50px;
}

.btn {
    display: flex;
    align-items: center;
    background: linear-gradient(100deg, #0A2463, #1f4191);
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    margin-left: 100px;
    cursor: pointer;
}

.btn img {
    width: 20px;
    margin-right: 10px;
}

.notes-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.input-box {
    width: 100%;
    min-height: 100px;
    max-width: 500px;
    background-color: white;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    padding: 10px 10px;
    border: 0;
    outline: 0;
    font-size: 20px;
}

.notes-container img {
    position: absolute;
    width: 30px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .input-box {
        width: 100%;
        min-height: 9.259vh;
        max-width: 75vw;
        background-color: white;
        margin-left: 50px;
        margin-top: 30px;
        border-radius: 10px;
        position: relative;
        padding: 10px 10px;
        border: 0;
        outline: 0;
        font-size: 20px;
    }
}

@media only screen and (max-width: 300px) {
    .input-box {

        margin-left: 20px;
    }

    .container h1 {

        padding-left: 60px;

    }
}